@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f7f8;
  --foreground: #0d0d0d;
  --section: #ffffff;
  --primary: #0d72b6;
  --primaryForeground: #ffffff;
  --inactive: #a9adb2;
  --tabIndicator: #212121;
  --subtitle: #6f7071;
  --danger: #f50000;
  --skeleton: #e9e9e9;

  --zaui-light-button-primary-background: var(--primary);
  --zaui-light-button-primary-text: var(--primaryForeground);
  --zaui-light-button-secondary-background: #d1f0db;
  --zaui-light-button-secondary-text: #135328;
  --zaui-light-button-tertiary-text: var(--foreground);
  --zaui-light-button-primary-background-pressed: var(
    --zaui-light-button-primary-background
  );
  --zaui-light-button-secondary-background-pressed: var(
    --zaui-light-button-secondary-background
  );
  --zaui-light-tabbar-active-line: var(--primary);
  --zaui-light-tabbar-label-active: var(--primary);

  --safe-top: var(--zaui-safe-area-inset-top, env(safe-area-inset-top, 30px));
  --safe-bottom: max(
    16px,
    var(--zaui-safe-area-inset-bottom, env(safe-area-inset-bottom, 30px))
  );
}
